body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box {
  width: 100px;
  height: 100px;
  background: gold;
  /* Duration should be set in box, not hover */
  transition: transform 0.5s, linear background 0.5s;
}
.box:hover {
  transform: rotate(45deg);
  background: dodgerblue;
}
