body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 100px;
  height: 100px;
  background: gold;
}
.animation-pop {
  animation-name: pop;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: normal;
}
